*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*INÍCIO HEADER*/

.container-cabeçalho{
    position: relative;
    width: 100%;
    height: auto;
}

.banner{
    background-image: linear-gradient(rgba(222, 75, 168, 0.84) 0%, rgba(228, 0, 143, 0.84)100%), url("../imagens/banner2.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    height: 620px;
    background-position:center bottom;
 
}

.banner h2{
    font-size:40px;
    font-weight: 800;
    line-height: 1.2em;
    padding:150px 15px 30px 15px;
    
}

.banner h2:hover{
transition:1s;
color: rgba(255, 255, 255, 0.068);
}  

.banner h2,.banner p{
    font-family: "Montserrat", Sans-serif;
    text-align: center;
    color:white;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    
}

.banner p{
    font-size: 17px;
    font-weight: 500;
    line-height: 1.3em;
    font-weight: bold;
    padding: 0 15px
}

.video{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 400px;
    margin-top: 40px

}

.video video{
    border-radius: 1.5%;
    
}

.banner span{
    text-transform: uppercase;
}

.conf{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 70px;
    text-align: center;
    background-color: #00D729;
    padding:15px;
    border-radius: 30px;
    box-shadow: 0px -7px 0px -3px rgb(0 0 0 / 50%) inset;
    transition-duration:500ms;
    
}

.conf:hover{
    transform:scale(110%);
    -webkit-transform:scale(110%);
}

.conf p{
    color: white;
    font-size:20pt;
    font-family: "Montserrat", Sans-serif;    
}

.conf a{
    text-decoration: none;
}


.teste{
    height: 1000px;
}

/*FIM HEADER*/

/*INÍCIO SESSÃO GALERIA*/

.container-imagens{
    display: block;
    margin-top:340px;
    padding: 0 250px;
    
}

.container-imagens h2{
    color: #690742;
    font-family: "Montserrat", Sans-serif;
    font-size: 35px;
    font-weight: 800;
    line-height: 1.4em;
    text-align: center;
}

.container-imagens span{
    color: #E348A1;
}

.container-slide{
    display: flex;
    justify-content: space-between;
    width: 40vw;
    height: 80vh;
    background-color: black;
    margin: 5vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px black;
}

.container-items{
    position:absolute;
    display: flex;
    width: 40vw;
    height:80vh;
    border-radius: 10px;
    overflow: hidden;
}

.item{
    width:40vw;
    height: 80vh;
    transition: all 1s;
}

.item:first-child{
    margin-left: -100%;
}

.item img{
    width: 40vw;
    height: 80vh;
    border-radius: 10px;
}

.action-button{
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    user-select: none;
    z-index: 1;
    color:white;
    background-color: #00000055;
    border-radius: 10px;
    cursor: pointer;
    
    }

.container-slide-2{
    display: flex;
    justify-content: space-between;
    width: 40vw;
    height: 80vh;
    background-color: black;
    margin: 5vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px black;
}

.container-items-2{
    position:absolute;
    display: flex;
    width: 40vw;
    height:80vh;
    border-radius: 10px;
    overflow: hidden;
}


.item-2{
    width:40vw;
    height: 80vh;
    transition: all 1s;
}

.item-2:first-child{
    margin-left: -100%;
}

.item-2 img{
    width: 40vw;
    height: 80vh;
    border-radius: 10px;
}

.action-button-2{
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    user-select: none;
    z-index: 1;
    color:white;
    background-color: #00000055;
    border-radius: 10px;
    cursor: pointer;
    
    }

    .container-slide-3{
        display: flex;
        justify-content: space-between;
        width: 40vw;
        height: 80vh;
        background-color: black;
        margin: 5vh auto;
        border-radius: 10px;
        box-shadow: 0 20px 30px black;
    }
    
    .container-items-3{
        position:absolute;
        display: flex;
        width: 40vw;
        height:80vh;
        border-radius: 10px;
        overflow: hidden;
    }
    
    
    .item-3{
        width:40vw;
        height: 80vh;
        transition: all 1s;
    }
    
    .item-3:first-child{
        margin-left: -100%;
    }
    
    .item-3 img{
        width: 40vw;
        height: 80vh;
        border-radius: 10px;
    }
    
    .action-button-3{
        font: bold 30px sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        user-select: none;
        z-index: 1;
        color:white;
        background-color: #00000055;
        border-radius: 10px;
        cursor: pointer;
        
        }


/*FIM SESSÃO GALERIA*/

/*INÍCIO SESSÃO CURSOS*/

.cursos{
background-color: rgba(190, 154, 179, 0.267);
padding-top:30px
}
.cursos h1{
    margin-top:100px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight:800;
    color: #690742;
}

.cursos span{
    color: #E348A1;
}

article h2{
    color:#690742;
    margin-top: 40px
}

article{
    margin: top 20px;
    border-bottom: solid 2px #E348A1;
}

article h3{
    text-align: center;
    padding-top: 30px;
    font-family: 'montserrat',sans-serif;
    color: rgba(0, 0, 0, 0.452);
}

article strong{
    text-decoration: line-through;
}
article h2,article p{
    padding: 10px 0 5px 20px;
    font-family:'montserrat',sans-serif;
    text-align: center;
}

article span{
    font-family:'montserrat',sans-serif   
}

.cta-link{
  margin: 15px auto;
  width:400px;
  height:50px;
  line-height:50px;
  background-color:black;
  border-radius:20px;
  cursor:pointer;
  font-family:'montserrat',sans-serif;
  background-color: #00D729;
  box-shadow: 0px -7px 0px -3px rgb(0 0 0 / 50%) inset;
  font-size:23px;
  transition-duration:500ms;
}

.cta-link a{
  text-decoration: none;
  color:white;
}

.cta-link:hover{
  transform:scale(110%);
  -webkit-transform:scale(110%);
}

table{
    margin-left:auto;
    margin-right: auto;
    padding-top: 20px; 
}

table tr{
    font-family: 'montserrat',sans-serif;
    color:rgba(0, 0, 0, 0.562)
}

table tr td{
    padding: 5px 50px;
}

table tr td i{
    width: 18px;
    height: 18px;
    margin-right: 2px;
    color:#E348A1
}
/*FIM SESSÃO CURSOS*/

/*INÍCIO SESSÃO BÔNUS*/
.bonus-flex{
    margin: 20px 20px;
    display:flex
}

.bonus h3,.bonus h1{
    text-align: center;
    font-family: 'montserat',sans-serif;
}

.bonus h1{
    padding:40px 0 20px 0;
    color:#690742;
}

.bonus h3{
    color:#E348A1
}

.bonus-container{
    width: 400px;
    margin: 0 20px;
    padding-top: 50px;
    background-color: #d000d738;
    border-radius: 10px;
    
}

.bonus-container h2,.bonus-container p{
    font-family: 'montserat',sans-serif;
    
}

.bonus-container h2{
    color:#690742;
    text-align: center;
    margin-bottom: 10px;
}

.bonus-container span{
    color: #E348A1;
    text-align: center;
}

.bonus-container p{
    text-align: center;
    margin-bottom: 10px
}

.bonus-container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 250ms;

}

.bonus-container img:hover{
    transform:scale(120%);
    -webkit-transform:scale(120%);
}

.bonus-container-2{
    display: flex;
   justify-content: center;
   align-items: center;
}

.contact-zap{
    margin: 8vh 0;
    background-color: #00d727;
    height: 150px;
}

.contact-zap h3,.contact-zap a{
    padding-top: 5vh ;
}

.contact-zap h3{
    color:white;
    font-size: 25pt;
}

.contact-zap a{
    color: white
}

.contact-zap a:hover{
    color:blue
}

/*FIM SESSÃO BÔNUS*/

/*INÍCIO SESSÃO FOOTER*/
footer{
    height: 100px;
    width: auto;
    margin-top: 20px;
    padding: 20px 20px;
    background-color: #690742;
}

footer p{
    color: white;
    font-family: 'montserrat',sans-serif;
    text-align: center;
    font-size: 8pt;
    padding: 10px 60px
}
/*FIM SESSÃO FOOTER*/


/*INÍCIO RESPONSIVO*/
/*ÍNÍCIO RESPONSIVO BANNER*/
@media screen and (max-width:817px){
    .video{
        display: none;
    }
    .video video{
        display: none
    }

    .conf{
        display: none
    }

    .container-imagens{
        display: block;
        margin:50px 0 30px 0;  
        padding: 0 50px;}

        .container-slide{
            display: flex;
            justify-content: space-between;
            width: 80vw;
            height: 80vh;
            background-color: black;
            margin: 5vh auto;
            border-radius: 10px;
            box-shadow: 0 20px 30px black;
        }
        
        .container-items{
            position:absolute;
            display: flex;
            width: 80vw;
            height:80vh;
            border-radius: 10px;
            overflow: hidden;
        }
        
        .item{
            width:80vw;
            height: 80vh;
            transition: all 1s;
        }
        
        .item img{
            width: 80vw;
            height: 80vh;
            border-radius: 10px;
        }

        .container-slide-2{
            display: flex;
            justify-content: space-between;
            width: 80vw;
            height: 80vh;
            background-color: black;
            margin: 5vh auto;
            border-radius: 10px;
            box-shadow: 0 20px 30px black;
        }
        
        .container-items-2{
            position:absolute;
            display: flex;
            width: 80vw;
            height:80vh;
            border-radius: 10px;
            overflow: hidden;
        }
        
        
        .item-2{
            width:80vw;
            height: 80vh;
            transition: all 1s;
        }
        
        .item-2 img{
            width: 80vw;
            height: 80vh;
            border-radius: 10px;
        }

        .container-slide-3{
            display: flex;
            justify-content: space-between;
            width: 80vw;
            height: 80vh;
            background-color: black;
            margin: 5vh auto;
            border-radius: 10px;
            box-shadow: 0 20px 30px black;
        }
        
        .container-items-3{
            position:absolute;
            display: flex;
            width: 80vw;
            height:80vh;
            border-radius: 10px;
            overflow: hidden;
        }
        
        
        .item-3{
            width:80vw;
            height: 80vh;
            transition: all 1s;
        }
        
        
        .item-3 img{
            width: 80vw;
            height: 80vh;
            border-radius: 10px;
        }
}
/*FIM RESPOSIVO BANNER*/

/*INÍCIO RESPONSIVO TABELAS*/
@media screen and (max-width:634px){
    table tr td{
        padding: 5px 15px;
    }

}
/*FIM RESPONSIVO TABELAS*/

/*INÍCIO RESPONSIVO BONUS*/
@media screen and (max-width:748px){
    .bonus-flex{
        padding: 20px 20px;
        display:block;
        
}

.bonus-container{
    width: 100%;
    margin: 0px 20px;
    padding-top: 50px;
    background-color: #d000d738;
    border-radius: 10px;}

    .bonus-container-2{
        display: block;
        margin: -90px 20px 0 20px;
        padding: 50px 20px;
        width: 88.5vw;
    }
/*FIM RESPONSIVO BONUS*/

/*INÍCIO RESPONSIVO FOOTER*/
@media screen and (max-width:614px){
    footer p{
       
        padding: 10px 0 10px 0
    }
}
/*FIM RESPONSIVO FOOTER*/
/*FIM RESPONSIVO*/